{% extends "base.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<h2>Cambiar Contraseña</h2>

<form method="POST" action="{{ url_for('auth.cambiar_password') }}">
    <label for="nueva_contraseña">Nueva Contraseña:</label>
    <input type="password" name="nueva_contraseña" required>

    <label for="confirmar_contraseña">Confirmar Contraseña:</label>
    <input type="password" name="confirmar_contraseña" required>
    
    <button type="submit">Actualizar Contraseña</button>
</form>
{% endblock %}
