{% extends "base.html" %}

{% block title %}Lista de Visitas{% endblock %}

{% block content %}
    <h1>Listado de Visitas Registradas</h1>

    <table>
        <tr>
            <th>Nombre</th>
            <th>DNI</th>
            <th>Propietario</th>
            <th>Motivo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Color</th>
            <th>Patente</th>
            <th>Fecha</th>
            <th>Hora ingreso</th>
            <th>Hora salida</th>
        </tr>

        {% for visita in visitas %}
        <tr>
            <td>{{ visita[0] }}</td>
            <td>{{ visita[1] }}</td>
            <td>{{ visita[2] }}</td>
            <td>{{ visita[3] }}</td>
            <td>{{ visita[4] }}</td>
            <td>{{ visita[5] }}</td>
            <td>{{ visita[6] }}</td>
            <td>{{ visita[7] }}</td>
            <td>{{ visita[8] }}</td>
            <td>{{ visita[9] }}</td>
            <td>{{ visita[10] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div style="text-align: center;">
        <a href="/">Registrar nueva visita</a>
    </div>
{% endblock %}
