{% extends "base.html" %}
{% block title %}Generar QR de Llave Virtual{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Generar QR para ingreso/egreso del propietario</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="pin_ingreso" class="form-label">PIN de acceso</label>
            <input type="password" class="form-control" name="pin_ingreso" required>
        </div>
        <button type="submit" class="btn btn-primary">Generar QR</button>
    </form>
</div>
{% endblock %}
